.bg-img1 {
  background-color: #398;
  background-size: cover;
}
.bg-img2 {
  background-color: #f3f3f3;
  background-size: cover;
}
.bg-img3 {
  background-color: #d4d4d4;
  background-size: cover;
}